<h1>About Us</h1>
<p>Jungle is an Amazon clone. The purpose of this project is to introduce students to Ruby on Rails</p>

<p>Users can order from the supplied products, by adding items to their cart. Once the user has finished adding items to their cart, the user can complete the order by entering credit card info to complete the order.</p>

